spring:
  application:
    name: open_notepad
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  cloud:
    gateway:
      routes:
        - id: api-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/**
  datasource:
    url: jdbc:sqlserver://pacipapa.database.windows.net:1433;database=pacipapaDB;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
    username: ${SQLusername}
    password: ${SQLpassword}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver