<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/Dashboard.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-DfN3huwA5R8SlB9lg/MqP4whXpqv6GCpMf6VgL9Ih97UQobgb3fpvsvHJZaEm8a+q0xTLF7vIqZHRZTrHeAPvA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <header id="navbar">
        <div class="left">
        <img src="/img/logo.png" alt="Logo">
        </div>
        <div class="right">
            <div class="search">
                <img src="/img/search.png" alt="Search Icon">
                <input type="text" placeholder="Search notes">
            </div>

            <select class="major-filter">
                <option value="">All Majors</option>
                <option value="informatics">Informatics</option>
                <option value="electrical">Electrical Engineering</option>
                <option value="mechanical">Mechanical Engineering</option>
                <option value="civil">Civil Engineering</option>
            </select>
        <a href="/user/notes"><img src="/img/myNote.png" alt="myNote Icon"></a>
        <a href="/user/notes/upload"><img src="/img/upload.png" alt="Upload Icon"></a>
        <a href="/user/profile"><img src="/img/profile.png" alt="Profile Icon">  </a>
        </div>
  </header>
  
  <div class="container">
    
    <div class="card">
      <!-- maksimal 22 huruf untuk judul note  -->
      <h3>aaaaaa aaaaaa aaaaaaaa</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>

    <div class="card">
      <h3>Introduction to OOP</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>
  
    <div class="card">
      <h3>Introduction to OOP</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>
  
    <div class="card">
      <h3>Introduction to OOP</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>

    <div class="card">
      <h3>Introduction to OOP</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>
  
    <div class="card">
      <h3>Introduction to OOP</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>
  
    <div class="card">
      <h3>Introduction to OOP</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>

    <div class="card">
      <h3>Introduction to OOP</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>
  
    <div class="card">
      <h3>Introduction to OOP</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>
  
    <div class="card">
      <h3>Introduction to OOP</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>

    <div class="card">
      <h3>Introduction to OOP</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>
  
    <div class="card">
      <h3>Introduction to OOP</h3>
      <p class="category">Programming</p>
      <div class="card-footer">
        <span>Alice border</span>
      </div>
    </div>
  
  </div>

  <script src="/js/indexPage.js"></script>
</body>
</html>
