<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/loginPage.css"/>
</head>
<body>
  <div class="container">
    <div class="left-pane">
      <h1>having difficulty<br>understanding lecture material?</h1>
      <p class="join">Join Us Now!</p>
    </div>
    <div class="right-pane">
      <h2>SIGN IN</h2>
      <form id="loginForm">
        <input type="text" placeholder="Username" name="username" required />
        <input type="password" placeholder="Password" name="password" required />
        <button type="submit">Login</button>
      </form>
      <p class="create-account">
        Doesn't have an account? <a href="/register">Create One</a>
      </p>
    </div>
  </div>
  <script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent the default form submission

      const formData = new FormData(this);
      const data = Object.fromEntries(formData.entries());

      fetch('/api/auth/signin', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }).then(response => {
        if (response.ok) {
          // Handle successful login, e.g., redirect to dashboard
          console.log(response);
          window.location.href = '/'; // Change this to your desired redirect URL
        } else {
          // Handle error, e.g., show an error message
          alert('Login failed. Please check your credentials.');
        }
      }).catch(error => {
        console.error('Error:', error);
      });
    })
  </script>
</body>
</html>
