<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction to OOP</title>
    <link rel="stylesheet" href="/css/css.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <header id="navbar">
        <div class="left">
            <a href="/"><img src="/img/logo.png" alt="Logo"></a>
        </div>
        <div class="right">
            <div class="search">
                <img src="/img/search.png" alt="Search Icon">
                <input type="text" placeholder="Search notes">
            </div>        
            <a href="/user/notes"><img src="/img/myNote.png" alt="myNote Icon"></a>
            <a href="/user/notes/upload"><img src="/img/upload.png" alt="Upload Icon"></a>
            <a href="/user/profile"><img src="/img/profile.png" alt="Profile Icon">  </a>
        </div>
    </header>
    
    <div class="pdf-container">
        <div class="judul">
            <h2>Introduction to OOP</h2>
            <h4>Major</h4>
        </div>     
        <div class="line"></div>
        <iframe src="file.pdf"></iframe>
        <div class="star" >
            <h2>Overral Rating : 4,5/5</h2>
            <div id="stars" class="star-rating">
                <i class="fa-solid fa-star" data-value="1"></i>
                <i class="fa-solid fa-star" data-value="2"></i>
                <i class="fa-solid fa-star" data-value="3"></i>
                <i class="fa-solid fa-star" data-value="4"></i>
                <i class="fa-solid fa-star" data-value="5"></i>
            </div>
            <div>
            </div>
        </div>
    </div>
    <script src="/js/note.js"></script>
</body>
</html>
