<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction to OOP</title>
    <link rel="stylesheet" href="/css/note.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

     <!-- Navbar -->
  <header
      class="fixed shadow-lg flex top-0  bg-ijomuda w-full justify-between z-30"
    >
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
      <div class="flex items-stretch">
        <div class="py-2 px-4 max-md:hover:bg-ijotaik">
          <a class="" href="/">
            <img class="w-[125px]" src="/img/logo.png" />
          </a>
        </div>
      </div>

      <!--Navigation on left-->
      <div class="flex items-center mr-0 ml-auto max-md:hidden">
        <div
          class="p-3 font-inter font-semibold hover:bg-ijomudagelap border-b-[2px] border-ijomuda hover:border-black transition-all duration-300 ease-in-out"
        >
          <a href="/user/notes/upload" class="inline-block relative p-1">Upload</a>
        </div>
        <div
          class="p-3 font-inter font-semibold hover:bg-ijomudagelap border-b-[2px] border-ijomuda hover:border-black transition-all duration-300 ease-in-out"
        >
          <a href="/user/notes" class="inline-block relative p-1">MyNotes</a>
        </div>
        <div
          class="p-3 font-inter font-semibold hover:bg-ijomudagelap border-b-[2px] border-ijomuda hover:border-black transition-all duration-300 ease-in-out"
        >
          <a href="/user/notes/bookmark" class="inline-block relative p-1">Saved</a>
        </div>
      </div>
      </div>

      <!--SearchBar-->
      <div class="flex">
        
        <div class="p-3 max-md:hidden">
          <input
            id="search-input"
            type="text"
            class="border-greenwhitey rounded-lg p-1"
            placeholder="Search..."
          />
          <button
            class="pl-1"
            onclick="searchByName()"
            >
            <img class="w-4" src="/img/search.png" />
          </button>
          
      </div>
        <a class="p-2 flex items-center" href="/user/profile">
          <img id="profile-picture" src="/img/profile.png" class="w-11 h-11 rounded-full border-[1px] border-gray-300" />
          <div class="border-sky-500"></div>
        </a>
      </div>
    </header>
    <script src="/js/navbar.js"></script>

    
    <div class="pdf-container">
        <div class="judul">
            <h2>Introduction to OOP</h2>
            <h4>Major</h4>
        </div>     
        <div class="line"></div>
        <iframe src="file.pdf"></iframe>
        <div class="star" >
            <h2>Overral Rating : 4,5/5</h2>
            <div id="stars" class="star-rating">
                <i class="fa-solid fa-star" data-value="1"></i>
                <i class="fa-solid fa-star" data-value="2"></i>
                <i class="fa-solid fa-star" data-value="3"></i>
                <i class="fa-solid fa-star" data-value="4"></i>
                <i class="fa-solid fa-star" data-value="5"></i>
            </div>
            <div>
            </div>
        </div>
    </div>
    <script src="/js/note.js"></script>
</body>
</html>
