<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/editNote.css"/>
</head>
<body>
    <header id="navbar">
        <div class="left">
        <img src="/img/logo.png" alt="Logo">
        </div>
        <div class="right">
            <div class="search">
                <img src="/img/search.png" alt="Search Icon">
                <input type="text" placeholder="Search notes">
            </div>

            <select class="major-filter">
                <option value="">All Majors</option>
                <option value="informatics">Informatics</option>
                <option value="electrical">Electrical Engineering</option>
                <option value="mechanical">Mechanical Engineering</option>
                <option value="civil">Civil Engineering</option>
            </select>
        <a href="/user/notes"><img src="/img/myNote.png" alt="myNote Icon"></a>
        <a href="/user/notes/upload"><img src="/img/upload.png" alt="Upload Icon"></a>
        <a href="/user/profile"><img src="/img/profile.png" alt="Profile Icon">  </a>
        </div>
    </header>

    <div class="cont">
        <div class="container1">
            <div class="body-inside1">
                <h2>Title</h2>
                <input type="text" placeholder="Introduction to OOP">
            </div >
            <div class="body-inside1">
                <h2>Upload File</h2>
                <div class="custom-file-upload">
                    <label for="file-upload" class="upload-label">
                        📄 Upload File
                    </label>
                    <input id="file-upload" type="file" />
                    <span id="file-name">No file chosen</span>
                </div>
            </div>
        </div>
    <div class="container2">
        <div class="body-inside">
            <h2>Course</h2>
            <select name="course" id="course">
                <option value="" disabled selected>Select course</option>
                <option value="oop">Object Oriented Programming</option>
                <option value="dsa">Data Structure</option>
                <option value="ai">Artificial Intelligence</option>
                <option value="web">Web Development</option>
            </select>
        </div>
        <div class="body-inside">
            <h2>Major</h2>
            <select name="major" id="major">
                <option value="" disabled selected>Select major</option>
                <option value="cs">Computer Science</option>
                <option value="it">Information Technology</option>
                <option value="ce">Computer Engineering</option>
                <option value="se">Software Engineering</option>
            </select>
        </div>
    </div>
    <div class="container1">
        <div class="body-inside2">
            <h2>Description</h2>
            <textarea placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores! Quasi, obcaecati. Ipsum consequuntur est aliquam quidem delectus aperiam eligendi repellat sit molestiae, optio consequatur, deleniti tempora. Odit, recusandae officiis?"></textarea>
        </div>
    </div>
    <button type="submit" class="buttonEdit">Edit Note</button>
    </div>
    <script>
        const input = document.getElementById("file-upload");
        const fileName = document.getElementById("file-name");

        input.addEventListener("change", () => {
            fileName.textContent = input.files.length > 0 ? input.files[0].name : "No file chosen";
        });
    </script>

</body>
</html>